@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  margin: 0;
  padding: 0;
}
.page main{
    background-color:white;
    width: 600px;
    height: 220px;
    border: solid;
    border-color: silver;
    padding: 1px;
    margin: 0px 0px 10px 350px;
  }
  .page main article{
    background-color:lightgray;
    width: 290px;
    height: 210px;
    border: solid;
    border-color: silver;
    margin: 1px;
    display: inline-block;
    vertical-align: top;
  }
  .page main article section{
    background-color: white;
    width: 270px;
    height: 50px;
    margin: 10px 120px 0px 10px;
 
  }
  .page main article div{
    background-color:blue;
    width: 270px;
    height: 50px;
    margin: 0px 120px 0px 10px;
   
  }
  .page main article nav{
    background-color: red;
    width: 270px;
    height: 50px;
    margin: 0px 120px 0px 10px;
  
  }
  .page main article h2{
    text-align: center;
    margin: 10px;
  }
  .page main article li{
    background-color: rgb(196, 14, 14);
    width: 270px;
    height: 40px;
    list-style: none;
    margin: 10px 120px 0px 10px;
  
  }
  .page main article footer{
    background-color: rgb(252, 227, 1);
    width: 270px;
    height: 70px;
    list-style: none;
    margin: 0px 120px 0px 10px;
  
  }
  .page main article footer img{
    width: 50px;
    height: 50px;
    margin: 10px 0px 0px 50px;
  
  }
  .page main article ul{
    background-color: rgb(196, 14, 14);
    width: 270px;
    height: 40px;
    list-style: none;
    margin: 0px 120px 0px 10px;
  
  }
  .page main article p{
    background-color:red;
    width: 270px;
    height: 50px;
    margin: 10px 120px 0px 10px;
  
  }
  .page main article h3{
    background-color: white;
    width: 270px;
    height: 50px;
    margin: 0px 120px 0px 10px;
  
  }
  .page main article h3 img{
    width: 50px;
    height: 50px;
    margin: 0px 0px 0px 110px;
  
  }
  .page main article h4{
    background-color: black;
    width: 270px;
    height: 50px;
    margin: 0px 120px 0px 10px;
  
  }
  .page main article ol{
    background-color:white;
    width: 270px;
    height: 150px;
    margin: 10px 120px 0px 10px;
  
  }
 
  .page main article ol nav{
    background-color:rgb(15, 47, 228);
    width: 50px;
    height: 50px;
    margin: 0px 120px 0px 70px;
  
  }
  .page main article ol section{
    background-color:rgb(15, 47, 228);
    width: 270px;
    height: 50px;
    margin: 0px 0px 0px 0px;
  
  }
