@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  margin: 0;
  padding: 0;
}
.page2 main{
    background-color:white;
    width: 600px;
    height: 220px;
    border: solid;
    border-color: silver;
    padding: 1px;
    margin: 0px 0px 10px 350px;
  }
  .page2 main article{
    background-color:lightgray;
    width: 290px;
    height: 210px;
    border: solid;
    border-color: silver;
    margin: 1px;
    display: inline-block;
    vertical-align: top;
  }
  .page2 main article section{
    background-color: yellow;
    width: 270px;
    height: 70px;
    margin: 10px 120px 0px 10px;
 
  }
  .page2 main article div{
    background-color:blue;
    width: 270px;
    height: 40px;
    margin: 0px 120px 0px 10px;
   
  }
  .page2 main article nav{
    background-color: red;
    width: 270px;
    height: 40px;
    margin: 0px 120px 0px 10px;
  
  }
  .page2 main article h2{
    text-align: center;
    margin: 10px;
  
  }