@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  margin: 0;
  padding: 0;
}
.page2 main{
    background-color:white;
    width: 600px;
    height: 220px;
    border: solid;
    border-color: silver;
    padding: 1px;
    margin: 0px 0px 10px 350px;
  }
  .page2 main article{
    background-color:lightgray;
    width: 270px;
    height: 190px;
    border: solid;
    border-color: silver;
    margin: 1px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
  }
  .page2 main article section{
    background-color: yellow;
    width: 270px;
    height: 70px;
    
 
  }
  .page2 main article div{
    background-color:blue;
    width: 270px;
    height: 40px;
    
   
  }
  .page2 main article nav{
    background-color: red;
    width: 270px;
    height: 40px;
    
  
  }
  .page2 main article h2{
    text-align: center;
    margin: 10px;
  
  }
  .page2 main article li{
    background-color: skyblue;
    width: 270px;
    height: 50px;
    list-style: none;
    
 
  }
  .page2 main article footer{
    background-color:white;
    width: 270px;
    height: 50px;
    list-style: none;
    
   
  }
  .page2 main article footer img{
    width: 50px;
    height: 50px;
    margin: 10px 0px 0px 50px;
  }
  
  .page2 main article ul{
    background-color: skyblue;
    width: 270px;
    height: 50px;
    list-style: none;
    
  
  }
  .page2 main article p{
      background-color:green;
      width: 90px;
      height: 150px;
      display: inline-block;
      margin: -2px;
    
    }
    .page2 main article h3{
      background-color: white;
      width: 90px;
      height: 150px;
      display: inline-block;
      vertical-align: top;
      margin: -2px;
    
    }
    .page2 main article h3 img{
      width: 50px;
      height: 50px;
      margin: 0px 0px 0px 110px;
     
    
    }
    .page2 main article h4{
      background-color: red;
      width: 90px;
      height: 150px;
      display: inline-block;
      vertical-align: top;
      margin: -2px;
    }







    .page2 main article ol{
      background-color:red;
      width: 70px;
      height: 150px;
      display: inline-block;
      margin: -2px;
    
    }
    .page2 main article h5{
      background-color: white;
      width: 130px;
      height: 150px;
      display: inline-block;
      vertical-align: top;
      margin: -2px;
    
    }
    .page2 main
    